@model IEnumerable<CampPlanner.Models.Camp>
@{
    ViewBag.Title = "Camp list";
}

<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        <h1>@ViewBag.Title</h1>

        <a asp-controller="Camp" asp-action="New" class="btn btn-primary">New</a>

        @*TODO change to viewmodel*@
        @*TODO check if null*@
        @*TODO create angular*@
        @foreach (var camp in Model)
        {
            <div class="row">
                <div class="col-md-6">@camp.Name</div>
                <div class="col-md-1">@camp.StartDate</div>
                <div class="col-md-1">@camp.EndDate</div>
                <div class="col-md-4">
                    <a asp-controller="Camp" asp-action="Manage" asp-route-id="@camp.Id" class="btn btn-sm btn-primary">Manage</a>
                </div>
            </div>
        }
    </div>
</div>